*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}

body{
	background: #a6bf7d;
}

#contenedor{
	width: 717px;
	margin: 0 auto;
	padding: 0;
}

#logo a img{
	max-width: 300px;
}

header{
width: 717px;
height: 255px;
background: white;
}
header img{
width: 717px;
height: 255px;
background: white;
}
nav{
	height: 30px;
	background: #85a157;
	border: 3px solid #fff;
}
	nav ul{
		height: 100%;
	}
	nav ul li{
		list-style: none;
		display: inline-block;
		padding: 5px;
	}
	nav ul li a{
		color: #fff;
		transition: 1s;
	}
	nav ul li a:hover{
		text-decoration: underline;
	
	}

	footer{
		font-size: 12px;
		text-align: center;
		font-family: Verdana;
		margin-top: 10px;
		color: #fff;
	}

	section.contenedor-principal{
		background: #e6e8e0;
		margin: 0 auto;
		border: 3px solid #fff;
		border-top: none;
		border-radius: 0 0 5px 5px;
	}